.content {
  position: absolute;
  width: 500px;
  height: 333px;
  overflow: hidden;
}

.item {
  position: absolute;
  top: 0;
  width: 500px;
  height: 333px;
  transition: all 0.4s ease;
}

.item:nth-child(1) {
  left: 0;
}

.item:nth-child(2) {
  left: 100%;
}

.item:nth-child(3) {
  left: 200%;
}

.item:nth-child(4) {
  left: 300%;
}

.item:nth-child(5) {
  left: 400%;
}

.img {
  width: 500px;
  height: 333px;
}

.btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 500;
  width: 50px;
  height: 50px;
  background-color: #ccc;
  border: none;
  border-radius: 50%;
}

.btn:nth-child(2) {
  right: 0;
}